<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
 autoReload="true"
 throwExceptions="false"
 internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
  <targets>
    <!--
 <target name="network" xsi:type="Network" address="udp://localhost:7071" layout="${level} ${logger} ${message}${newline}" />
 -->
    <target xsi:type="Chainsaw" name ="HomePC" address ="udp4://localhost:7071" layout="${longdate} ${logger} ${message}" onOverflow ="Split"/>
    <target name="Debugfile" xsi:type="File" layout="${longdate} ${logger} ${message}" fileName="${basedir}/logs/DebugLog.txt" keepFileOpen="false" archiveEvery="Day" archiveNumbering="DateAndSequence" maxArchiveFiles="10" encoding="iso-8859-2" />
    <target name="Errorfile" xsi:type="File" layout="${longdate} ${logger} ${message}" fileName="${basedir}/logs/ErrorLog.txt" keepFileOpen="false" archiveEvery="Day" archiveNumbering="DateAndSequence" maxArchiveFiles="10" encoding="iso-8859-2" />
    <target name="" xsi:type="File" layout="${longdate} ${logger} ${message}" fileName="${basedir}/logs/TraceLog.txt" keepFileOpen="false" archiveEvery="Day" archiveNumbering="DateAndSequence" maxArchiveFiles="10" encoding="iso-8859-2" />
  </targets>
  <rules>
    <logger name="*" level="Debug" writeTo="HomePC" />
    <logger name="*" level="Info" writeTo="HomePC" />
    <logger name="*" level="Error" writeTo="HomePC" />
    <logger name="*" level="Warn" writeTo="HomePC"/>
    <logger name="*" level="Fatal" writeTo="HomePC"/>
    <logger name="*" level ="Trace" writeTo ="HomePC"/>
    <logger name="*" level="Debug" writeTo="Debugfile" />
    <logger name="*" level="Error" writeTo="Errorfile" />
    <logger name="*" minlevel="Trace" maxlevel="Fatal" writeTo="Tracefile" />
  </rules>
</nlog>
